authorityKeyIdentifier=keyid,issuer
basicConstraints=CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = $SERVER_NAME
DNS.2 = $HOSTNAME.local
DNS.3 = localhost
IP.1 = 127.0.0.1
IP.2 = $HOST_IP
